# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas
pandas.__version__

'1.2.4'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [4]:
a = pd.Series([695,214,3,693,9856])
a

0     695
1     214
2       3
3     693
4    9856
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [5]:
a.values

array([ 695,  214,    3,  693, 9856], dtype=int64)

In [6]:
a.index

RangeIndex(start=0, stop=5, step=1)

We can assign meaningful labels to the index, if they are available:

In [7]:
bact = pd.Series([659,566,885,45,96], index = ['bact1', 'bact2', 'bact3', 'bact4', 'bact5'])

bact

bact1    659
bact2    566
bact3    885
bact4     45
bact5     96
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [12]:
bact['bact4']

45

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [13]:
bact[3]

45

We can give both the array of values and the index meaningful labels themselves:

In [14]:
bact.name = 'counts'
bact.index.name = 'Pylum'
bact

Pylum
bact1    659
bact2    566
bact3    885
bact4     45
bact5     96
Name: counts, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [15]:
np.log(bact)

Pylum
bact1    6.490724
bact2    6.338594
bact3    6.785588
bact4    3.806662
bact5    4.564348
Name: counts, dtype: float64

We can also filter according to the values in the `Series`:

In [16]:
bact[bact>600]

Pylum
bact1    659
bact3    885
Name: counts, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [17]:
bact_dict = {'bact01': 635, 'bact02':695, 'bact03':163}
print(bact_dict)
pd.Series(bact_dict)

{'bact01': 635, 'bact02': 695, 'bact03': 163}

bact01    635
bact02    695
bact03    163
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [18]:
import pandas as pd
import numpy as np
data = {'Student': ['stud1', 'stud2', 'stud3'],
       'Subject': [1,2,3],
       'Score': [6.5, 7.2, 9.5]}
print(data)
data2 = pd.DataFrame(data)
data2

{'Student': ['stud1', 'stud2', 'stud3'], 'Subject': [1, 2, 3], 'Score': [6.5, 7.2, 9.5]}

  Student  Subject  Score
0   stud1        1    6.5
1   stud2        2    7.2
2   stud3        3    9.5

To change the order of the columns:

In [20]:
data3 = pd.DataFrame(data2, columns=["Subject", "Student", "Score"])
data3

   Subject Student  Score
0        1   stud1    6.5
1        2   stud2    7.2
2        3   stud3    9.5

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [21]:
data3['NEWCOLUMN'] = data3.Score / data3.Subject
data3

   Subject Student  Score  NEWCOLUMN
0        1   stud1    6.5   6.500000
1        2   stud2    7.2   3.600000
2        3   stud3    9.5   3.166667

In [22]:
data3['NEWCOLUMN2'] = pd.Series(range(3), index = [0,1,2])
data3

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2
0        1   stud1    6.5   6.500000           0
1        2   stud2    7.2   3.600000           1
2        3   stud3    9.5   3.166667           2

Passing a dicts where the values are dicts is also possible

In [23]:
data3.to_dict()

{'Subject': {0: 1, 1: 2, 2: 3},
 'Student': {0: 'stud1', 1: 'stud2', 2: 'stud3'},
 'Score': {0: 6.5, 1: 7.2, 2: 9.5},
 'NEWCOLUMN': {0: 6.5, 1: 3.6, 2: 3.1666666666666665},
 'NEWCOLUMN2': {0: 0, 1: 1, 2: 2}}

In [24]:
pd.DataFrame(data3.to_dict())

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2
0        1   stud1    6.5   6.500000           0
1        2   stud2    7.2   3.600000           1
2        3   stud3    9.5   3.166667           2

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [25]:
lst = [{'a':i, 'b':10*i} for i in range(6)]
print(lst)
pd.DataFrame(lst)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [34]:
df = pd.DataFrame([{'aa':1, 'bb':2}, {'bb':3, 'cc':4}])
df_dict = df.to_dict()
print("Dictionary:\n", df_dict)
print("DataFrame:\n", df)

Dictionary:
 {'aa': {0: 1.0, 1: nan}, 'bb': {0: 2, 1: 3}, 'cc': {0: nan, 1: 4.0}}
DataFrame:
     aa  bb   cc
0  1.0   2  NaN
1  NaN   3  4.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [42]:
pd.DataFrame(np.random.randint(9,90),
             columns = ['col1', 'col2'],
             index = ['x','y','z'])

   col1  col2
x    32    32
y    32    32
z    32    32

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [44]:
i = pd.Index([35,6,9,5,8,88,5,4,5,66,5,4,5,5,6,6])
i

Int64Index([35, 6, 9, 5, 8, 88, 5, 4, 5, 66, 5, 4, 5, 5, 6, 6], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [45]:
i[2]

9

In [49]:
i[:6:3]

Int64Index([35, 5], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [50]:
print(i.size,i.shape,i.ndim,i.dtype)

16 (16,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [51]:
i[2] = 0

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [59]:
rng = np.random.RandomState(20)
ser = pd.Series(rng.randint(0, 20, 8))
ser

0     3
1    15
2     9
3    11
4     7
5     2
6     0
7     8
dtype: int32

In [63]:
d = pd.DataFrame(rng.randint(0,20, (8,4)),
                 columns = ['a','b','c','d'])
d

    a   b   c   d
0  10   3  18   6
1   9  14   4  11
2   8   6  15  18
3  14  19  10  10
4   1  18  17   8
5  18  10   4   8
6  16  19  16  10
7   6   9   0  12

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [65]:
np.exp(ser)

0    2.008554e+01
1    3.269017e+06
2    8.103084e+03
3    5.987414e+04
4    1.096633e+03
5    7.389056e+00
6    1.000000e+00
7    2.980958e+03
dtype: float64

Or, for a slightly more complex calculation:

In [67]:
np.sin(d * np.pi / 6)

              a             b             c             d
0 -8.660254e-01  1.000000e+00  3.673940e-16  1.224647e-16
1 -1.000000e+00  8.660254e-01  8.660254e-01 -5.000000e-01
2 -8.660254e-01  1.224647e-16  1.000000e+00  3.673940e-16
3  8.660254e-01 -5.000000e-01 -8.660254e-01 -8.660254e-01
4  5.000000e-01  3.673940e-16  5.000000e-01 -8.660254e-01
5  3.673940e-16 -8.660254e-01  8.660254e-01 -8.660254e-01
6  8.660254e-01 -5.000000e-01  8.660254e-01 -8.660254e-01
7  1.224647e-16 -1.000000e+00  0.000000e+00 -2.449294e-16

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [70]:
area = pd.Series({'Mumbai': 165854, 'Chennai':1366252, 'Delhi':63354152, 'Bengalore':3662548}, name = 'area')
population = pd.Series({'Bengalore':622355, 'Mumbai':33265223, 'Pune':3625415, 'Hydrabad': 35662548}, name = 'population')

print(area)
print(population)

Mumbai         165854
Chennai       1366252
Delhi        63354152
Bengalore     3662548
Name: area, dtype: int64
Bengalore      622355
Mumbai       33265223
Pune          3625415
Hydrabad     35662548
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [71]:
population / area

Bengalore      0.169924
Chennai             NaN
Delhi               NaN
Hydrabad            NaN
Mumbai       200.569314
Pune                NaN
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [75]:
area.index|population.index

<ipython-input-75-b132a20899a3>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  area.index|population.index

Index(['Bengalore', 'Chennai', 'Delhi', 'Hydrabad', 'Mumbai', 'Pune'], dtype='object')

In [76]:
X = pd.Series([6,5,9], index = [0,1,2])
Y = pd.Series([4,9,8], index = [1,2,3])
print(X)
print(Y)
X+Y

0    6
1    5
2    9
dtype: int64
1    4
2    9
3    8
dtype: int64

0     NaN
1     9.0
2    18.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [80]:
X.add(Y, fill_value=0)

0     6.0
1     9.0
2    18.0
3     8.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [89]:
data3

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2
0        1   stud1    6.5   6.500000           0
1        2   stud2    7.2   3.600000           1
2        3   stud3    9.5   3.166667           2

In [91]:
data4 = pd.DataFrame({"Student": ["stud1","stud2","stud3"], "Grade":["D", "C", "A"]})
data4

  Student Grade
0   stud1     D
1   stud2     C
2   stud3     A

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [92]:
# merge is smart! If there are overlapping names, it uses those for the merge
data3.merge(data4)

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2 Grade
0        1   stud1    6.5   6.500000           0     D
1        2   stud2    7.2   3.600000           1     C
2        3   stud3    9.5   3.166667           2     A

If the column names are different, you need to specify them explicitely

In [93]:
data4 = pd.DataFrame({"student": ["stud2"], "Grade": ["C"]})
data4
data3.merge(data4, right_on='student', left_on="Student")

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2 student Grade
0        2   stud2    7.2        3.6           1   stud2     C

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [97]:
data5 = pd.DataFrame({"Student": ['stud1', 'stud2', 'stud4'], "Grade": ["D","C","A+"]})
data3.merge(data5, how='outer')

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2 Grade
0      1.0   stud1    6.5   6.500000         0.0     D
1      2.0   stud2    7.2   3.600000         1.0     C
2      3.0   stud3    9.5   3.166667         2.0   NaN
3      NaN   stud4    NaN        NaN         NaN    A+

Check this out:

In [98]:
data6 = pd.DataFrame({"Student": ['stud1','stud2','stud2'], "Grade":["D", "A", "C"]})
print(data6)
data3.merge(data6, how='outer')

  Student Grade
0   stud1     D
1   stud2     A
2   stud2     C

   Subject Student  Score  NEWCOLUMN  NEWCOLUMN2 Grade
0        1   stud1    6.5   6.500000           0     D
1        2   stud2    7.2   3.600000           1     A
2        2   stud2    7.2   3.600000           1     C
3        3   stud3    9.5   3.166667           2   NaN

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [109]:
sa = pd.Series([np.nan, 'hlo', 'hi', np.nan, np.nan, 'wru', 'hru'],
               index = [0,1,2,3,4,5,6])
sb = pd.Series(np.arange(len(sa), dtype = np.float64),
               index = [0,1,2,3,4,5,6])

In [110]:
sa

0    NaN
1    hlo
2     hi
3    NaN
4    NaN
5    wru
6    hru
dtype: object

In [111]:
sb

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [112]:
pd.Series(np.where(pd.isnull(sa), sb, sa), index = sa.index)

0    0.0
1    hlo
2     hi
3    3.0
4    4.0
5    wru
6    hru
dtype: object

That's a bit verbose for something so simple. What about this:

In [113]:
sa.combine_first(sb)

0    0.0
1    hlo
2     hi
3    3.0
4    4.0
5    wru
6    hru
dtype: object